{% extends "base.html" %}
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'estore:home' %}">{% translate 'Home' %}</a>
&rsaquo; {% translate 'Password reset' %}
</div>
{% endblock %}

{% block title %}Estore. Password Reset Complete{% endblock %}

{% block content %}

<div class="container">
    <p>{% translate "Your password has been set.  You may go ahead and log in now." %}</p>
    <p><a href="{% url 'account:login' %}" class="btn-sm btn-info">{% translate 'Log in' %}</a></p>
</div>

{% endblock %}