{% extends "base.html" %}
{% load i18n static %}

{% block content %}

{% if validlink %}
<div class="container">
    <p>{% translate "Please enter your new password twice so we can verify you typed it in correctly." %}</p>

    <form method="post">{% csrf_token %}
    <fieldset class="module aligned">
        <div class="form-row field-password1">
            {{ form.new_password1.errors }}
            <label for="id_new_password1" class="col-lg-3">{% translate 'New password:' %}</label>
            <span class="col-lg-3">{{ form.new_password1 }}</span>
        </div>
        <div class="form-row field-password2">
            {{ form.new_password2.errors }}
            <label for="id_new_password2" class="col-lg-3">{% translate 'Confirm password:' %}</label>
            <span class="col-lg-3">{{ form.new_password2 }}</span>
        </div>
        <input type="submit" value="{% translate 'Change my password' %}">
    </fieldset>
    </form>
</div>

{% else %}

<p>{% translate "The password reset link was invalid, possibly because it has already been used.  Please request a new password reset." %}</p>

{% endif %}

{% endblock %}
